<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title ng-bind="Webfan.page.title"><%= htmlWebpackPlugin.options.title %></title>
	  <script src="app.bundle.js"></script>
	  <script src="legacy.bundle.js"></script>
  </head>
  <body ng-flows="webfan.gui">
    Hello Wordl! $ frdl.js build:legacy
  </body>
</html>