

RewriteEngine On
<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
    Header set Access-Control-Expose-Headers "ETag"
</IfModule>


RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

#RewriteRule ^.*\.(js|ico|css|png|jpg|jpeg)\$ - [F,L,NC]

RewriteRule ^ index.php [L]